<div class="navbar-default sidebar" role="navigation" style="margin-top: 100 px !important;">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#" name="testing_environment" class="sidebar-item"><i class="fa fa-wrench fa-fw"></i> Testing Environment</a>
            </li>
            <li>
                <a href="#" name="tests" class="sidebar-item"><i class="fa fa-edit fa-fw hidden"></i> Tests<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#" name="infrastructure" class="sidebar-item sidebar-item-level2"> Infrastructure <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#" name="opendl" class="sidebar-item sidebar-item-level2">Opendaylight</a>
                            </li>
                            <li>
                                <a href="#" name="openstack" class="sidebar-item sidebar-item-level2">Openstack  <span class="fa arrow"></span></a>
                                <ul class="nav nav-fourth-level">
                                    <li>
                                        <a href="#" name="rally" class="sidebar-item sidebar-item-level2">Rally <span class="fa arrow"></span></a>
                                        <ul class="nav nav-fifth-level">
                                            <li>
                                                <a href="#" name="ceilometer" class="sidebar-item sidebar-item-level2">Ceilometer</a>
                                            </li>
                                            <li>
                                                <a href="#" name="cinder" class="sidebar-item sidebar-item-level2">Cinder</a>
                                            </li>
                                            <li>
                                                <a href="#" name="glance" class="sidebar-item sidebar-item-level2">Glance</a>
                                            </li>
                                            <li>
                                                <a href="#" name="heat" class="sidebar-item sidebar-item-level2">Heat</a>
                                            </li>
                                            <li>
                                                <a href="#" name="keystone" class="sidebar-item sidebar-item-level2">Keystone</a>
                                            </li> 
                                            <li>
                                                <a href="#" name="neutron" class="sidebar-item sidebar-item-level2">Neutron</a>
                                            </li>
                                            <li>
                                                <a href="#" name="nova" class="sidebar-item sidebar-item-level2">Nova</a>
                                            </li>
                                            <li>
                                                <a href="#" name="authenticate" class="sidebar-item sidebar-item-level2">Authenticate</a>
                                            </li>
                                        </ul>                                          
                                    </li>
                                    <li>
                                        <a href="#" name="tempest" class="sidebar-item sidebar-item-level2">Tempest <span class="fa arrow"></span></a>
                                        <ul class="nav nav-fifth-level">
                                            <li>
                                                <a href="#" name="smoke_test_suite" class="sidebar-item sidebar-item-level2">Smoke Test Suite</a>
                                            </li>                                                                                                          
                                        </ul>
                                    </li>                                                                                                        
                                </ul>                                  
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->                        
                    </li>
                    <li>
                        <a href="#" name="tnova_components" class="sidebar-item sidebar-item-level2"> T_NOVA Components <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#" name="vnfs" class="sidebar-item sidebar-item-level2">SDN Control Plane</a>
                            </li>
                            <li>
                                <a href="#" name="monitoring" class="sidebar-item sidebar-item-level2">Monitoring</a>
                            </li>
                            <li>
                                <a href="#" name="sfc" class="sidebar-item sidebar-item-level2">SFC</a>
                            </li>                            
                        </ul>
                        <!-- /.nav-third-level -->                            
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
</div>


<!-- Ajax post request test-->
<script src="../static/js/ajax/testingEnvironmentAjax.js"></script>
<!-- All js functionality for this page -->
<script src="../static/js/page_specific/sidebar.js"></script>

<script>showTestsTabIfPlatformIsInstalled();</script>