<!-- Global CSS rules -->
<link href="../static/css/global.css" rel="stylesheet">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Testing Environment</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
    <!-- MAIN CONTENT -->        
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Configure Testing
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <h4>Install Testing Environment</h4>
                            <p>
                                <button type="button" class="btn btn-primary" onclick="installTestingEnvironment($(this))">Install</button>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!--<p>-->
                                <div class="alert alert-info hidden">
                                    Installing Testing Environment. Please wait..  <span class="loading-icon-helper"></span><img class="loading-icon" src="../static/svg/default.svg" alt="Loading icon" align="right">
                                </div>                                    
                                <div class="alert alert-success hidden">
                                    Testing Environment was successfully installed!
                                </div>
                                <div class="alert alert-danger hidden">
                                    Testing Environment installation failed!
                                </div>
                            <!--</p>-->
                        </div>                                
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <h4>Check Testing Environment State</h4>
                            <p>
                                <button type="button" class="btn btn-primary" onclick="checkTestingEnvironment($(this))"> Check </button>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!--<p>-->
                                <div class="alert alert-info hidden">
                                    Checking Testing Environment State. Please wait...<span class="loading-icon-helper"></span><img class="loading-icon" src="../static/svg/default.svg" alt="Loading icon" align="right">
                                </div>                                    
                                <div class="alert alert-success hidden">
                                    Testing Environment is already installed!
                                </div>
                                <div class="alert alert-warning hidden">
                                    Testing Environment is not installed. Press the "Install" button to begin installation.
                                </div>
                            <!--</p>-->
                        </div>                                   
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <h4>Remove Testing Environment</h4>
                            <p>
                                <button type="button" class="btn btn-primary" onclick="cleanTestingEnvironment($(this))"> Clean </button>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!--<p>-->
                                <div class="alert alert-info hidden">
                                    Removing Testing Environment. Please wait...<span class="loading-icon-helper"></span><img class="loading-icon" src="../static/svg/default.svg" alt="Loading icon" align="right">
                                </div>                                       
                                <div class="alert alert-success hidden">
                                    Testing Environment was successfully removed!
                                </div>
                                <div class="alert alert-warning hidden">
                                    Testing Environment is not installed. Nothing was done.
                                </div>
                                <div class="alert alert-danger hidden">
                                    Testing Environment removal failed!
                                </div>
                            <!--</p>-->
                        </div>                                                                  
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->        


    <!-- Ajax post request test-->
    <script src="../static/js/ajax/testingEnvironmentAjax.js"></script>
    <!-- All js functionality for this page -->
    <script src="../static/js/page_specific/testing_environment.js"></script>